<div *ngIf="loaded">
    <app-error [title]="'Sistema de Aeropuerto'" [msg]="msg"></app-error>
</div>
<div *ngIf="!loaded">
    <app-menu *ngIf="this.roles.BASE_ROL != ''"></app-menu>

    <body class="hold-transition sidebar-mini top">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner small-box-footer" type="button" data-toggle="modal" data-target="#crearteAdminModal"
                    (click)="limpiar()">
                    <h3>
                        <mat-icon class="icon">add</mat-icon>
                        <span> Crear Vuelo</span>
                    </h3>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="col-sm-6">
                                    <mat-form-field class="filtro">
                                        <mat-label>Filtro</mat-label>
                                        <input matInput (keyup)="filtro($event)" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div class="mat-elevation-z8">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="dataSource">

                                            <!-- Numero Column -->
                                            <ng-container matColumnDef="numeroVuelo">
                                                <th mat-header-cell *matHeaderCellDef class="header-table start"> Numero
                                                    de
                                                    Vuelo
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.numero_vuelo}}</td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="horaSalida">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Hora Salida
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.hora_salida | date:
                                                    'dd/MM/yyyy HH:mm:ss'}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="origen">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Origen
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.detalleOrigen}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="horaLlegada">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Hora Llegada
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.hora_llegada | date:
                                                    'dd/MM/yyyy HH:mm:ss'}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="destino">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Destino
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.detalleDestino}},
                                                    {{element.detalleDestinoPais}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="avion">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Avion
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.id_avion}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="puerta">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Puerta
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.detallePuerta}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="escala">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Escala
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.detalleEscala}} </td>
                                            </ng-container>

                                            <!-- Correo Column -->
                                            <ng-container matColumnDef="estado">
                                                <th mat-header-cell *matHeaderCellDef class="header-table"> Estado
                                                </th>
                                                <td mat-cell *matCellDef="let element"> {{element.detalleEstadoVuelo}}
                                                </td>
                                            </ng-container>
                                            <!-- Acciones Column -->
                                            <ng-container matColumnDef="acciones">
                                                <th mat-header-cell *matHeaderCellDef class="header-table end"> Acciones
                                                </th>
                                                <td mat-cell *matCellDef="let element" class="accion">
                                                    <span class="material-icons botonAccion" [matMenuTriggerFor]="menu"
                                                        style="cursor: pointer;"
                                                        aria-label="Example icon-button with a menu">more_vert</span>

                                                    <mat-menu #menu="matMenu">
                                                        <button mat-menu-item title="Actualizar Vuelo" class="iconos"
                                                            data-toggle="modal" data-target="#crearteAdminModal"
                                                            (click)="actualizarVuelo(element)">
                                                            <mat-icon class="iconos">edit</mat-icon>
                                                            <span>Modificar Vuelo</span>
                                                        </button>
                                                    </mat-menu>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="headerColumnNames"></tr>
                                            <tr mat-row *matRowDef="let row; columns: headerColumnNames;"></tr>
                                        </table>
                                    </div>
                                    <mat-paginator [pageSizeOptions]="[5,15,25,50,100]" showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <!--Modal para actulizar una aerolinea-->
    <div class="modal fade" id="crearteAdminModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{!actualizar ? 'Crear' : 'Modificar'}} Vuelo</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-12">

                            <form [formGroup]="actualizarForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Numero de Vuelo</mat-label>
                                            <input matInput type="text" autocomplete="off" maxlength="10"
                                                pattern="[a-zA-Z0-9_]+[a-zA-Z0-9_-]+[a-zA-Z0-9_]"
                                                formControlName="numeroVuelo">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Estado</mat-label>
                                            <mat-select formControlName="estado">
                                                <mat-option *ngFor="let estado of estados" [value]="estado.codigo">
                                                    {{ estado.nombre }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Hora Salida</mat-label>
                                            <input matInput type="datetime-local" placeholder="start date"
                                                formControlName="horaSalida">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Origen</mat-label>
                                            <mat-select formControlName="origen">
                                                <mat-option *ngFor="let origen of origenes" [value]="origen.codigo">
                                                    {{ origen.nombre }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Hora Llegada</mat-label>
                                            <input matInput type="datetime-local" placeholder="start date"
                                                formControlName="horaLlegada">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Destino</mat-label>
                                            <mat-select formControlName="destino">
                                                <mat-option *ngFor="let destino of destinos" [value]="destino.codigo">
                                                    {{ destino.nombre }} , {{ destino.descripcion }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Avion</mat-label>
                                            <mat-select formControlName="idAvion">
                                                <mat-option *ngFor="let avion of aviones" [value]="avion.id_Avion">
                                                    {{ avion.id_Avion }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Puerta</mat-label>
                                            <mat-select formControlName="idPuerta">
                                                <mat-option *ngFor="let puerta of puertas" [value]="puerta.id_puerta">
                                                    {{ puerta.numeroPuerta }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Escala</mat-label>
                                            <mat-select formControlName="idEscala">
                                                <mat-option *ngFor="let escala of escalas" [value]="escala.id_escala">
                                                    {{ escala.pais }} - {{ escala.ciudad }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer ">

                    <button mat-raised-button type="button" color="warn" class="btn-container"
                        style="margin: 7px !important;" data-dismiss="modal" (click)="limpiar()">
                        <mat-icon>clear</mat-icon>
                        Cancelar
                    </button>
                    <button mat-raised-button type="button" color="primary" class="btn-container"
                        [disabled]="actualizarForm.invalid" style="margin: 7px !important;" data-dismiss="modal"
                        (click)="guardarVuelo()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>