mat-button-toggle{
    font: 1em segoe UI;
    font-weight: bold;
    }
    
    mat-card-actions{
    text-align: center;
    }
    
    mat-card{
    background-image: url("Airport-93.jpg");
    background-size: 130%;
    background-position: center;
    }
    
    mat-card-title{
    font: segoe UI; 
    margin-left: 1cm; 
    font-weight: bold;
    font-stretch: extra-expanded;
    }