<router-outlet></router-outlet>
<mat-card >
    <mat-card-title>Aeropuerto </mat-card-title>
    <mat-card-actions>
        <mat-button-toggle-group name="opciones">
            <mat-button-toggle value="ticket">Ticket</mat-button-toggle>
            <mat-button-toggle value="vuelo">Vuelo</mat-button-toggle>
            <mat-button-toggle value="aerolineas">Aerolineas</mat-button-toggle>
            <mat-button-toggle value="aviones">Aviones</mat-button-toggle>
            <mat-button-toggle value="empleados">Empleados</mat-button-toggle>
            <mat-button-toggle value="reportes">Reportes</mat-button-toggle>
          </mat-button-toggle-group>          
    </mat-card-actions>
  </mat-card>