<body class="hold-transition sidebar-mini top">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner small-box-footer" type="button" data-toggle="modal" data-target="#crearteAdminModal"
                (click)="limpiar()">
                <h3>
                    <mat-icon class="icon">add</mat-icon>
                    <span> Crear Aerolínea</span>
                </h3>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="col-sm-6">
                                <mat-form-field class="filtro">
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="filtro($event)" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="mat-elevation-z8">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataSource">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="idAerolinea">
                                            <th mat-header-cell *matHeaderCellDef class="header-table start"> ID
                                                aerolinea </th>
                                            <td mat-cell *matCellDef="let element"> {{element.id_Aerolinea}} </td>
                                        </ng-container>

                                        <!-- Nombre Column -->
                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef class="header-table"> Nombre </th>
                                            <td mat-cell *matCellDef="let element"> {{element.nombre_Aerolinea}} </td>
                                        </ng-container>

                                        <!-- Teléfono Column -->
                                        <ng-container matColumnDef="telefono">
                                            <th mat-header-cell *matHeaderCellDef class="header-table"> Teléfono </th>
                                            <td mat-cell *matCellDef="let element"> {{element.telefono_Aerolinea}} </td>
                                        </ng-container>

                                        <!-- Correo Column -->
                                        <ng-container matColumnDef="correo">
                                            <th mat-header-cell *matHeaderCellDef class="header-table"> Correo </th>
                                            <td mat-cell *matCellDef="let element"> {{element.correo_Aerolinea}} </td>
                                        </ng-container>

                                        <!-- Acciones Column -->
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef class="header-table end"> Acciones </th>
                                            <td mat-cell *matCellDef="let element" class="accion">
                                                <span class="material-icons botonAccion" [matMenuTriggerFor]="menu"
                                                    style="cursor: pointer;"
                                                    aria-label="Example icon-button with a menu">more_vert</span>

                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item title="Actualizar aerolinea" class="iconos"
                                                        data-toggle="modal" data-target="#crearteAdminModal"
                                                        (click)="actualizarAerolinea(element)">
                                                        <mat-icon class="iconos">edit</mat-icon>
                                                        <span>Modificar Aerolínea</span>
                                                    </button>

                                                    <button mat-menu-item title="Eliminar aerolinea" class="iconos"
                                                        (click)=" eliminarAerolinea(element)">
                                                        <mat-icon class="iconos">delete</mat-icon>
                                                        <span>Eliminar Aerolinea</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="headerColumnNames"></tr>
                                        <tr mat-row *matRowDef="let row; columns: headerColumnNames;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [pageSizeOptions]="[5,15,25,50,100]" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

<!--Modal para actulizar una aerolinea-->
<div class="modal fade" id="crearteAdminModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{!actualizar ? 'Crear' : 'Modificar'}} aerolínea</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-12">

                        <form [formGroup]="actualizarForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" autocomplete="off" maxlength="50" formControlName="nombreAerolinea">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput type="tel"  autocomplete="off" maxlength="8" formControlName="telefonoAerolinea">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Correo</mat-label>
                                        <input matInput  autocomplete="off" maxlength="25" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" formControlName="correoAerolinea">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="estadoAerolinea">
                                            <mat-option *ngFor="let estado of estados" [value]="estado.codigo">
                                                {{ estado.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Dirección</mat-label>
                                        <textarea matInput maxlength="100" #dire formControlName="direccionAerolinea"></textarea>
                                        <mat-hint align="end">{{dire.value.length}} / 100</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer ">

                <button mat-raised-button type="button" color="warn" class="btn-container"
                    style="margin: 7px !important;" data-dismiss="modal" (click)="limpiar()">
                    <mat-icon>clear</mat-icon>
                    Cancelar
                </button>
                <button mat-raised-button type="button" color="primary" class="btn-container"
                    [disabled]="actualizarForm.invalid" style="margin: 7px !important;" data-dismiss="modal"
                    (click)="guardarAerolinea()">
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>